<?xml version="1.0"?>
<config>
    <modules>
        <Waderusa_Reviews>
            <version>1.0.0</version>
        </Waderusa_Reviews>
    </modules>
    <admin>
        <routers>
            <waderusa_admin>
                <use>admin</use>
                <args>
                    <module>Waderusa_Reviews</module>
                    <frontName>waderusa_admin</frontName>
                </args>
            </waderusa_admin>
        </routers>
    </admin>
    <frontend>
        <routers>
            <reviews>
                <use>standard</use>
                <args>
                    <module>Waderusa_Reviews</module>
                    <frontName>reviews</frontName>
                </args>
            </reviews>
        </routers>
        <layout>
            <updates>
                <reviews module="Waderusa_Reviews">
                    <file>waderusa_reviews.xml</file>
                </reviews>
            </updates>
        </layout>
        <translate>
            <modules>
                <Waderusa_Reviews>
                    <files>
                        <default>Waderusa_Reviews.csv</default>
                    </files>
                </Waderusa_Reviews>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Waderusa_Reviews>
                    <files>
                        <default>Waderusa_Reviews.csv</default>
                    </files>
                </Waderusa_Reviews>
            </modules>
        </translate>

        <menu>
            <customer translate="title" module="customer">
                <title>Customers</title>
                <sort_order>40</sort_order>
                <children>
                    <reviews module="Waderusa_Reviews">
                        <title>Customer Reviews</title>
                        <sort_order>200</sort_order>
                        <action>waderusa_admin/manage_reviews/index</action>
                    </reviews>
                </children>
            </customer>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <customer>
                            <title>Customers</title>
							<sort_order>40</sort_order>
                            <children>
                                <reviews>
                                    <title>Customer Reviews</title>
                                    <sort_order>200</sort_order>
                                </reviews>                                
                            </children>
                        </customer>                        
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <reviews module="Waderusa_Reviews">
                    <file>waderusa_reviews.xml</file>
                </reviews>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <reviews>
                <class>Waderusa_Reviews_Model</class>
                <resourceModel>reviews_mysql4</resourceModel>
            </reviews>
            <reviews_mysql4>
                <class>Waderusa_Reviews_Model_Mysql4</class>
                <entities>
                    <reviews>
                        <table>waderusa_reviews</table>
                    </reviews>
                </entities>
            </reviews_mysql4>
        </models>
        <blocks>
            <reviews>
                <class>Waderusa_Reviews_Block</class>
            </reviews>            
        </blocks>
        <resources>
            <reviews_setup>
                <setup>
                    <module>Waderusa_Reviews</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </reviews_setup>
            <reviews_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </reviews_write>
            <reviews_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </reviews_read>
        </resources>
        <helpers>
            <reviews>
                <class>Waderusa_Reviews_Helper</class>
            </reviews>
        </helpers>
    </global>
</config>